src/main/resources/wsdl/GESDOC.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.ws.sgd.xuecolombia.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GESDOC" targetNamespace="http://services.ws.sgd.xuecolombia.com/">
  <wsdl:types> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.ws.sgd.xuecolombia.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.ws.sgd.xuecolombia.com/">
  <xs:element name="addAnnex" type="tns:addAnnex"/>
  <xs:element name="addAnnexResponse" type="tns:addAnnexResponse"/>
  <xs:element name="addFolder" type="tns:addFolder"/>
  <xs:element name="addFolderResponse" type="tns:addFolderResponse"/>
  <xs:element name="createInner" type="tns:createInner"/>
  <xs:element name="createInnerResponse" type="tns:createInnerResponse"/>
  <xs:element name="createReceived" type="tns:createReceived"/>
  <xs:element name="createReceivedResponse" type="tns:createReceivedResponse"/>
  <xs:element name="createReceivedRest" type="tns:createReceivedRest"/>
  <xs:element name="createReceivedRestResponse" type="tns:createReceivedRestResponse"/>
  <xs:element name="createRegistered" type="tns:createRegistered"/>
  <xs:element name="createRegisteredResponse" type="tns:createRegisteredResponse"/>
  <xs:element name="createSended" type="tns:createSended"/>
  <xs:element name="createSendedResponse" type="tns:createSendedResponse"/>
  <xs:element name="digitize" type="tns:digitize"/>
  <xs:element name="digitizeResponse" type="tns:digitizeResponse"/>
  <xs:element name="getDocument" type="tns:getDocument"/>
  <xs:element name="getDocumentAnnex" type="tns:getDocumentAnnex"/>
  <xs:element name="getDocumentAnnexResponse" type="tns:getDocumentAnnexResponse"/>
  <xs:element name="getDocumentImages" type="tns:getDocumentImages"/>
  <xs:element name="getDocumentImagesResponse" type="tns:getDocumentImagesResponse"/>
  <xs:element name="getDocumentResponse" type="tns:getDocumentResponse"/>
  <xs:element name="getFolder" type="tns:getFolder"/>
  <xs:element name="getFolderDocuments" type="tns:getFolderDocuments"/>
  <xs:element name="getFolderDocumentsResponse" type="tns:getFolderDocumentsResponse"/>
  <xs:element name="getFolderResponse" type="tns:getFolderResponse"/>
  <xs:element name="getFolders" type="tns:getFolders"/>
  <xs:element name="getFoldersResponse" type="tns:getFoldersResponse"/>
  <xs:element name="getThirdperson" type="tns:getThirdperson"/>
  <xs:element name="getThirdpersonResponse" type="tns:getThirdpersonResponse"/>
  <xs:element name="modifyThirdperson" type="tns:modifyThirdperson"/>
  <xs:element name="modifyThirdpersonResponse" type="tns:modifyThirdpersonResponse"/>
  <xs:element name="parameters" type="tns:parameters"/>
  <xs:element name="parametersResponse" type="tns:parametersResponse"/>
  <xs:element name="ping" type="tns:ping"/>
  <xs:element name="pingResponse" type="tns:pingResponse"/>
  <xs:element name="requestViewerToken" type="tns:requestViewerToken"/>
  <xs:element name="requestViewerTokenResponse" type="tns:requestViewerTokenResponse"/>
  <xs:element name="searchDocument" type="tns:searchDocument"/>
  <xs:element name="searchDocumentResponse" type="tns:searchDocumentResponse"/>
  <xs:element name="traslateDocument" type="tns:traslateDocument"/>
  <xs:element name="traslateDocumentResponse" type="tns:traslateDocumentResponse"/>
  <xs:element name="updateDocument" type="tns:updateDocument"/>
  <xs:element name="updateDocumentResponse" type="tns:updateDocumentResponse"/>
  <xs:complexType name="getDocument">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="iddocument" type="tns:id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="id">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="idtype" type="xs:int"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
      <xs:element minOccurs="0" name="survey" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="document" type="tns:document"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="communiqueType" type="xs:string"/>
      <xs:element minOccurs="0" name="trackNumber" type="xs:string"/>
      <xs:element name="author" type="tns:employee"/>
      <xs:element minOccurs="0" name="authorDependence" type="tns:tableElement"/>
      <xs:element name="type" type="tns:parameter"/>
      <xs:element minOccurs="0" name="responseTime" type="tns:parameter"/>
      <xs:element minOccurs="0" name="privacy" type="tns:parameter"/>
      <xs:element minOccurs="0" name="source" type="tns:parameter"/>
      <xs:element minOccurs="0" name="format" type="tns:parameter"/>
      <xs:element name="reference" type="xs:string"/>
      <xs:element minOccurs="0" name="physicalFolios" type="xs:int"/>
      <xs:element minOccurs="0" name="sourceDependence" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="sourceUser" type="tns:employee"/>
      <xs:element minOccurs="0" name="sourceThirdPerson" type="tns:thirdPerson"/>
      <xs:element minOccurs="0" name="targetDependence" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="targetUser" type="tns:employee"/>
      <xs:element minOccurs="0" name="targetThirdPerson" type="tns:thirdPerson"/>
      <xs:element minOccurs="0" name="courierCompany" type="tns:thirdPerson"/>
      <xs:element minOccurs="0" name="courierService" type="tns:parameter"/>
      <xs:element minOccurs="0" name="courierTrackNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="courierUser" type="tns:employee"/>
      <xs:element minOccurs="0" name="observations" type="xs:string"/>
      <xs:element minOccurs="0" name="support" type="tns:parameter"/>
      <xs:element minOccurs="0" name="window" type="tns:parameter"/>
      <xs:element minOccurs="0" name="state" type="tns:parameter"/>
      <xs:element minOccurs="0" name="statePhysical" type="tns:parameter"/>
      <xs:element minOccurs="0" name="digitaling" type="xs:string"/>
      <xs:element minOccurs="0" name="serie" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="folder" type="tns:folder"/>
      <xs:element minOccurs="0" name="tipology" type="tns:parameter"/>
      <xs:element minOccurs="0" name="responsible" type="tns:employee"/>
      <xs:element minOccurs="0" name="numSource" type="tns:parameter"/>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fillingDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="receptionDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="annexes" type="tns:annex"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="isAnswerOf" type="tns:id"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="answers" type="tns:id"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="images" type="tns:image"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="copies" type="tns:document"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="indexes" type="tns:index"/>
      <xs:element minOccurs="0" name="digitalFolios" type="xs:int"/>
      <xs:element minOccurs="0" name="annex" type="xs:int"/>
      <xs:element minOccurs="0" name="copyNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="isReturned" type="xs:boolean"/>
      <xs:element minOccurs="0" name="isAnnulRequested" type="xs:boolean"/>
      <xs:element minOccurs="0" name="isTraslateRequested" type="xs:boolean"/>
      <xs:element minOccurs="0" name="traslateRequestedUser" type="tns:employee"/>
      <xs:element minOccurs="0" name="traslateRequestedArea" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="originalTargetUser" type="tns:employee"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="iduser" type="xs:int"/>
      <xs:element minOccurs="0" name="identification" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="state" type="xs:string"/>
      <xs:element minOccurs="0" name="areas" type="tns:tableElement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="table" type="tns:table"/>
      <xs:element minOccurs="0" name="parent" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="correspondenceUnit" type="tns:parameter"/>
      <xs:element minOccurs="0" name="boss" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="table">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="version" type="xs:string"/>
      <xs:element minOccurs="0" name="approveDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="state" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="parent" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="thirdPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="idthirdperson" type="xs:int"/>
      <xs:element name="identificationType" type="tns:parameter"/>
      <xs:element minOccurs="0" name="identification" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilephone" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="tns:parameter"/>
      <xs:element minOccurs="0" name="department" type="tns:parameter"/>
      <xs:element minOccurs="0" name="municipality" type="tns:parameter"/>
      <xs:element minOccurs="0" name="state" type="tns:parameter"/>
      <xs:element minOccurs="0" name="company" type="tns:thirdPerson"/>
      <xs:element minOccurs="0" name="extra" type="xs:string"/>
      <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="gender" type="tns:parameter"/>
      <xs:element minOccurs="0" name="enterpriseType" type="tns:parameter"/>
      <xs:element minOccurs="0" name="profession" type="tns:parameter"/>
      <xs:element minOccurs="0" name="occupation" type="tns:parameter"/>
      <xs:element minOccurs="0" name="educationLevel" type="tns:parameter"/>
      <xs:element minOccurs="0" name="stratum" type="tns:parameter"/>
      <xs:element minOccurs="0" name="chargeGrade" type="tns:parameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="folder">
    <xs:sequence>
      <xs:element minOccurs="0" name="idfolder" type="xs:int"/>
      <xs:element minOccurs="0" name="type" type="xs:int"/>
      <xs:element minOccurs="0" name="author" type="tns:employee"/>
      <xs:element minOccurs="0" name="state" type="tns:parameter"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="responsible" type="tns:employee"/>
      <xs:element name="initDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
      <xs:element name="serie" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="queryFrequency" type="tns:parameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="subfolders" type="tns:folder"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annex">
    <xs:sequence>
      <xs:element minOccurs="0" name="iddocument" type="tns:id"/>
      <xs:element minOccurs="0" name="support" type="tns:parameter"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="fileFormat" type="xs:string"/>
      <xs:element minOccurs="0" name="physicalFolios" type="xs:int"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="file" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="image">
    <xs:sequence>
      <xs:element minOccurs="0" name="iddocument" type="tns:id"/>
      <xs:element minOccurs="0" name="order" type="xs:int"/>
      <xs:element name="filetype" type="tns:parameter"/>
      <xs:element minOccurs="0" name="ocr" type="xs:string"/>
      <xs:element minOccurs="0" name="origin" type="tns:parameter"/>
      <xs:element minOccurs="0" name="format" type="tns:parameter"/>
      <xs:element minOccurs="0" name="author" type="tns:employee"/>
      <xs:element name="file" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="index">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element minOccurs="0" name="dateValue" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="numValue" type="xs:int"/>
      <xs:element minOccurs="0" name="thirdPerson" type="tns:thirdPerson"/>
      <xs:element minOccurs="0" name="employee" type="tns:employee"/>
      <xs:element minOccurs="0" name="department" type="tns:parameter"/>
      <xs:element minOccurs="0" name="municipality" type="tns:parameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="subindexes" type="tns:index"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ping">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchDocument">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="searchCriteria" type="tns:document"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchDocumentResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="tns:document"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createRegistered">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="document" type="tns:document"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createRegisteredResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation" type="tns:creation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creation">
    <xs:sequence>
      <xs:element name="idelement" type="tns:id"/>
      <xs:element name="actionDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="extra" type="xs:string"/>
      <xs:element minOccurs="0" name="file" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReceivedRest">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="document" type="tns:document"/>
      <xs:element maxOccurs="unbounded" name="Documento" type="tns:attachment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataHandler" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReceivedRestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:multipartBody"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multipartBody">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="digitize">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="image" type="tns:image"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="digitizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="modification" type="tns:modification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modification">
    <xs:sequence>
      <xs:element minOccurs="0" name="idelement" type="tns:id"/>
      <xs:element name="actionDate" type="xs:dateTime"/>
      <xs:element name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="file" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createInner">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="document" type="tns:document"/>
      <xs:element minOccurs="0" name="printPosition" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createInnerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation" type="tns:creation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestViewerToken">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="tokenRequest" type="tns:requestToken"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestToken">
    <xs:sequence>
      <xs:element name="user" type="tns:employee"/>
      <xs:element name="document" type="tns:id"/>
      <xs:element minOccurs="0" name="metadata" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestViewerTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="viewerToken" type="tns:viewerToken"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="viewerToken">
    <xs:sequence>
      <xs:element name="token" type="xs:string"/>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="endDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFolderDocuments">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="idfolder" type="tns:folder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFolderDocumentsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" nillable="true" type="tns:id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createSended">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="document" type="tns:document"/>
      <xs:element minOccurs="0" name="printPosition" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createSendedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation" type="tns:creation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReceived">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="document" type="tns:document"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReceivedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation" type="tns:creation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modifyThirdperson">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="thirdPersonData" type="tns:modifyThirdPerson"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modifyThirdPerson">
    <xs:sequence>
      <xs:element name="thirdPerson" type="tns:thirdPerson"/>
      <xs:element minOccurs="0" name="iddocument" type="tns:id"/>
      <xs:element name="author" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modifyThirdpersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="modification" type="tns:modification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDocumentImages">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="iddocument" type="tns:id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDocumentImagesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="image" nillable="true" type="tns:image"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFolder">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="idfolder" type="tns:folder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFolderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="folder" type="tns:folder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getThirdperson">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="thirdPersonData" type="tns:thirdPerson"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getThirdpersonResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="thirdPerson" nillable="true" type="tns:thirdPerson"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAnnex">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="annex" type="tns:annex"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addAnnexResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="modification" type="tns:modification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateDocument">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="documentState" type="tns:changeState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changeState">
    <xs:sequence>
      <xs:element name="iddocument" type="tns:id"/>
      <xs:element name="author" type="tns:employee"/>
      <xs:element name="state" type="xs:int"/>
      <xs:element name="justification" type="xs:string"/>
      <xs:element minOccurs="0" name="assigned" type="tns:employee"/>
      <xs:element minOccurs="0" name="serie" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="folder" type="tns:folder"/>
      <xs:element minOccurs="0" name="tipology" type="tns:parameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="modification" type="tns:modification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFolders">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="folder" type="tns:folder"/>
      <xs:element name="user" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFoldersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="folders" nillable="true" type="tns:folder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameters">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="parameter" type="tns:parameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:parameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addFolder">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="folder" type="tns:folder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addFolderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation" type="tns:creation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDocumentAnnex">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="iddocument" type="tns:id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDocumentAnnexResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="annex" nillable="true" type="tns:annex"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="traslateDocument">
    <xs:sequence>
      <xs:element name="appkey" type="xs:string"/>
      <xs:element name="traslate" type="tns:traslate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="traslate">
    <xs:sequence>
      <xs:element name="iddocument" type="tns:id"/>
      <xs:element name="author" type="tns:employee"/>
      <xs:element name="justification" type="xs:string"/>
      <xs:element name="dependence" type="tns:tableElement"/>
      <xs:element minOccurs="0" name="user" type="tns:employee"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usersNotify" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="traslateDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="modification" type="tns:modification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSException" type="tns:WSException"/>
  <xs:complexType name="WSException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDocument">
    <wsdl:part element="tns:getDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRegisteredResponse">
    <wsdl:part element="tns:createRegisteredResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="digitize">
    <wsdl:part element="tns:digitize" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInner">
    <wsdl:part element="tns:createInner" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="parametersResponse">
    <wsdl:part element="tns:parametersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentResponse">
    <wsdl:part element="tns:getDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReceivedRestResponse">
    <wsdl:part element="tns:createReceivedRestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFolderDocumentsResponse">
    <wsdl:part element="tns:getFolderDocumentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentAnnexResponse">
    <wsdl:part element="tns:getDocumentAnnexResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestViewerToken">
    <wsdl:part element="tns:requestViewerToken" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFolderDocuments">
    <wsdl:part element="tns:getFolderDocuments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSended">
    <wsdl:part element="tns:createSended" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReceived">
    <wsdl:part element="tns:createReceived" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReceivedResponse">
    <wsdl:part element="tns:createReceivedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentImages">
    <wsdl:part element="tns:getDocumentImages" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSendedResponse">
    <wsdl:part element="tns:createSendedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getThirdperson">
    <wsdl:part element="tns:getThirdperson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDocument">
    <wsdl:part element="tns:updateDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="parameters">
    <wsdl:part element="tns:parameters" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addFolder">
    <wsdl:part element="tns:addFolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentAnnex">
    <wsdl:part element="tns:getDocumentAnnex" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="digitizeResponse">
    <wsdl:part element="tns:digitizeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentImagesResponse">
    <wsdl:part element="tns:getDocumentImagesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ping">
    <wsdl:part element="tns:ping" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchDocument">
    <wsdl:part element="tns:searchDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getThirdpersonResponse">
    <wsdl:part element="tns:getThirdpersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRegistered">
    <wsdl:part element="tns:createRegistered" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReceivedRest">
    <wsdl:part element="tns:createReceivedRest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAnnexResponse">
    <wsdl:part element="tns:addAnnexResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyThirdpersonResponse">
    <wsdl:part element="tns:modifyThirdpersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchDocumentResponse">
    <wsdl:part element="tns:searchDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInnerResponse">
    <wsdl:part element="tns:createInnerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFolderResponse">
    <wsdl:part element="tns:getFolderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyThirdperson">
    <wsdl:part element="tns:modifyThirdperson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFoldersResponse">
    <wsdl:part element="tns:getFoldersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFolder">
    <wsdl:part element="tns:getFolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAnnex">
    <wsdl:part element="tns:addAnnex" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addFolderResponse">
    <wsdl:part element="tns:addFolderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestViewerTokenResponse">
    <wsdl:part element="tns:requestViewerTokenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFolders">
    <wsdl:part element="tns:getFolders" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDocumentResponse">
    <wsdl:part element="tns:updateDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traslateDocument">
    <wsdl:part element="tns:traslateDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traslateDocumentResponse">
    <wsdl:part element="tns:traslateDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSException">
    <wsdl:part element="tns:WSException" name="WSException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GESDOC">
    <wsdl:operation name="getDocument">
      <wsdl:input message="tns:getDocument" name="getDocument">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentResponse" name="getDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:ping" name="ping">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse" name="pingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchDocument">
      <wsdl:input message="tns:searchDocument" name="searchDocument">
    </wsdl:input>
      <wsdl:output message="tns:searchDocumentResponse" name="searchDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRegistered">
      <wsdl:input message="tns:createRegistered" name="createRegistered">
    </wsdl:input>
      <wsdl:output message="tns:createRegisteredResponse" name="createRegisteredResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReceivedRest">
      <wsdl:input message="tns:createReceivedRest" name="createReceivedRest">
    </wsdl:input>
      <wsdl:output message="tns:createReceivedRestResponse" name="createReceivedRestResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WSException" name="WSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="digitize">
      <wsdl:input message="tns:digitize" name="digitize">
    </wsdl:input>
      <wsdl:output message="tns:digitizeResponse" name="digitizeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createInner">
      <wsdl:input message="tns:createInner" name="createInner">
    </wsdl:input>
      <wsdl:output message="tns:createInnerResponse" name="createInnerResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestViewerToken">
      <wsdl:input message="tns:requestViewerToken" name="requestViewerToken">
    </wsdl:input>
      <wsdl:output message="tns:requestViewerTokenResponse" name="requestViewerTokenResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolderDocuments">
      <wsdl:input message="tns:getFolderDocuments" name="getFolderDocuments">
    </wsdl:input>
      <wsdl:output message="tns:getFolderDocumentsResponse" name="getFolderDocumentsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSended">
      <wsdl:input message="tns:createSended" name="createSended">
    </wsdl:input>
      <wsdl:output message="tns:createSendedResponse" name="createSendedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReceived">
      <wsdl:input message="tns:createReceived" name="createReceived">
    </wsdl:input>
      <wsdl:output message="tns:createReceivedResponse" name="createReceivedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WSException" name="WSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyThirdperson">
      <wsdl:input message="tns:modifyThirdperson" name="modifyThirdperson">
    </wsdl:input>
      <wsdl:output message="tns:modifyThirdpersonResponse" name="modifyThirdpersonResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentImages">
      <wsdl:input message="tns:getDocumentImages" name="getDocumentImages">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentImagesResponse" name="getDocumentImagesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolder">
      <wsdl:input message="tns:getFolder" name="getFolder">
    </wsdl:input>
      <wsdl:output message="tns:getFolderResponse" name="getFolderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getThirdperson">
      <wsdl:input message="tns:getThirdperson" name="getThirdperson">
    </wsdl:input>
      <wsdl:output message="tns:getThirdpersonResponse" name="getThirdpersonResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAnnex">
      <wsdl:input message="tns:addAnnex" name="addAnnex">
    </wsdl:input>
      <wsdl:output message="tns:addAnnexResponse" name="addAnnexResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocument">
      <wsdl:input message="tns:updateDocument" name="updateDocument">
    </wsdl:input>
      <wsdl:output message="tns:updateDocumentResponse" name="updateDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolders">
      <wsdl:input message="tns:getFolders" name="getFolders">
    </wsdl:input>
      <wsdl:output message="tns:getFoldersResponse" name="getFoldersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="parameters">
      <wsdl:input message="tns:parameters" name="parameters">
    </wsdl:input>
      <wsdl:output message="tns:parametersResponse" name="parametersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addFolder">
      <wsdl:input message="tns:addFolder" name="addFolder">
    </wsdl:input>
      <wsdl:output message="tns:addFolderResponse" name="addFolderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentAnnex">
      <wsdl:input message="tns:getDocumentAnnex" name="getDocumentAnnex">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentAnnexResponse" name="getDocumentAnnexResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="traslateDocument">
      <wsdl:input message="tns:traslateDocument" name="traslateDocument">
    </wsdl:input>
      <wsdl:output message="tns:traslateDocumentResponse" name="traslateDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GESDOCSoapBinding" type="tns:GESDOC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRegistered">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createRegistered">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createRegisteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReceivedRest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReceivedRest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReceivedRestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="digitize">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="digitize">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="digitizeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createInner">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createInner">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createInnerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestViewerToken">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="requestViewerToken">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestViewerTokenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolderDocuments">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFolderDocuments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFolderDocumentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSended">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createSended">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createSendedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createReceived">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReceived">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReceivedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyThirdperson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifyThirdperson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyThirdpersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentImages">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentImages">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentImagesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFolder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFolderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getThirdperson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getThirdperson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getThirdpersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAnnex">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addAnnex">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAnnexResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolders">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFolders">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFoldersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="parameters">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="parameters">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="parametersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addFolder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addFolder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addFolderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentAnnex">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocumentAnnex">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentAnnexResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="traslateDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="traslateDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="traslateDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GESDOC">
    <wsdl:port binding="tns:GESDOCSoapBinding" name="GESDOCPort">
      <soap:address location="https://pruebas-gesdoc.minvivienda.gov.co/SGD_WS/GESDOC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>